.swiper {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 53%;
  width: 110%;
  height: 400px;
  z-index: 20;
  overflow: visible;
}

.swiper-slide .lantern {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
}

.swiper-slide .swiper-slide-prev .lantern {
  position: absolute;

  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.swiper-slide .swiper-slide-next .lantern {
  position: absolute;

  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.swiper-slide-active .lantern {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%;
}

.swiper-slide {
  position: relative;
  width: 100%;
}
